In [ ]:
import pandas as pd
from datetime import datetime
import glob
from google.colab import drive
drive.mount('/content/drive')
from google.colab import files

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
o = pd.read_csv('/content/drive/My Drive/Colab Notebooks/the_oscar_award.csv', sep=',')
a = pd.read_csv('/content/drive/My Drive/Colab Notebooks/academy_award.csv', sep=',')

In [ ]:
print(o.head())
print(a.head())
print(list(o.columns.values))
print(list(a.columns.values))

   year_film  year_ceremony  ...              film winner
0       1927           1928  ...         The Noose  False
1       1927           1928  ...  The Last Command   True
2       1927           1928  ...   A Ship Comes In  False
3       1927           1928  ...        7th Heaven   True
4       1927           1928  ...    Sadie Thompson  False

[5 rows x 7 columns]
        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson
['year_film', 'year_ceremony', 'ceremony', 'category', 'name', 'film', 'winner']
['Year', 'Ceremony', 'Award', 'Winner', 'Name', 'Film']

In [ ]:
o1 = o[['year_film', 'film', 'winner']]
a1 = a[['Year', 'Film', 'Winner']]

In [ ]:
len(a1['Film'].unique())
len(o1['film'].unique())

4834

In [ ]:
o1 = o1.rename(columns={'year_film':'Year', 'film': 'Film', 'winner': 'Winner'})

In [ ]:
a2 = a1.copy()
for i, row in a2.iterrows():
  a2.at[i, 'Year'] = str(a2.at[i, 'Year']).split('/',1)[0]
a2.head()

   Year              Film  Winner
0  1927         The Noose     NaN
1  1927  The Last Command     1.0
2  1927   A Ship Comes In     NaN
3  1927        7th Heaven     1.0
4  1927    Sadie Thompson     NaN

In [ ]:
oa = o1.merge(a2, how='outer', on='Film')
oa.head()
oa['Winner_x'].describe()

count     115619
unique         2
top         True
freq       95846
Name: Winner_x, dtype: object

In [ ]:
for i, row in oa.iterrows():
  if row['Winner_y'] == 1.0 and row['Winner_x'] == False:
    oa.at[i, 'Winner_x'] = True
    # print(row)
oa.head()

   Year_x              Film Winner_x Year_y  Winner_y
0  1927.0         The Noose    False   1927       NaN
1  1927.0  The Last Command     True   1927       1.0
2  1927.0  The Last Command     True   1927       NaN
3  1927.0  The Last Command     True   1927       1.0
4  1927.0  The Last Command    False   1927       NaN

In [ ]:
count = 0
for i, row in oa.iterrows():
  if row['Year_y'] != row['Year_x']:
    count = count +1
    row1 = row

Year_x                   2015
Film        The Hateful Eight
Winner_x                 True
Year_y                   2015
Winner_y                  NaN
Name: 110251, dtype: object

In [ ]:
len(oa['Film'].unique())
# oa['Year_y'].max()

1139

In [ ]:
arr = oa['Film'].unique()
print(type(arr))
li = arr.tolist()
print(type(li))
len(li)
# oa['Film'].unique()[]

<class 'numpy.ndarray'>
<class 'list'>

10059

In [ ]:
# import numpy as np
for i, row in oa.iterrows():
  if row['Winner_x'] == True:
    if row['Film'] in li:
      li.remove(row['Film'])
len(li)

8776

In [ ]:
len(li)

619

In [ ]:
len(oa)
oa = oa[['Year_x', 'Film']]
len(oa)

123506

In [ ]:
print(oa.head())
oa = oa.drop_duplicates()
len(oa)

   Year_x              Film
0  1927.0         The Noose
1  1927.0  The Last Command
2  1927.0  The Last Command
3  1927.0  The Last Command
4  1927.0  The Last Command

10249

In [ ]:
oa.head()

    Year_x              Film
0   1927.0         The Noose
1   1927.0  The Last Command
5   1927.0   A Ship Comes In
6   1927.0        7th Heaven
31  1927.0    Sadie Thompson

In [ ]:
for i, row in oa.iterrows():
  if row['Film'] in li:
    oa.at[i, 'Award'] = False
  else:
    oa.at[i, 'Award'] = True
oa.head()

    Year_x              Film  Award
0   1927.0         The Noose  False
1   1927.0  The Last Command   True
5   1927.0   A Ship Comes In  False
6   1927.0        7th Heaven   True
31  1927.0    Sadie Thompson  False

In [ ]:
oa['Award']
li
len(oa.loc[oa['Award'] == False])

8816

In [ ]:
mv = pd.read_csv('/content/drive/My Drive/Colab Notebooks/movies_metadata.csv', sep=',')
mv.head()

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0
3  False  ...       34.0
4  False  ...      173.0

[5 rows x 24 columns]

In [ ]:
len(mv)

45466

In [ ]:
im = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IMDb movies.csv', sep=',')
ir = pd.read_csv('/content/drive/My Drive/Colab Notebooks/IMDb ratings.csv', sep=',')
print(im.head())
print(ir.head())

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

  imdb_title_id  ... reviews_from_critics
0     tt0000009  ...                  2.0
1     tt0000574  ...                  7.0
2     tt0001892  ...                  2.0
3     tt0002101  ...                  3.0
4     tt0002130  ...                 14.0

[5 rows x 22 columns]
  imdb_title_id  ...  non_us_voters_votes
0     tt0000009  ...                 70.0
1     tt0000574  ...                331.0
2     tt0001892  ...                123.0
3     tt0002101  ...                105.0
4     tt0002130  ...               1166.0

[5 rows x 49 columns]

In [ ]:
imdb = ir.merge(im, on='imdb_title_id')

In [ ]:
len(imdb)

85855

In [ ]:
i1 = imdb.rename(columns={'imdb_title_id':'imdb_id',})
len(i1['imdb_id'].unique())
# len(mi)

85855

In [ ]:
len(mv['imdb_id'].unique())

45418

In [ ]:
imdb['im']
# imdb1 = imdb.drop_duplicates(subset='imdb_id', keep="first")
# mv1 = mv.drop_duplicates(subset='imdb_id', keep="first")
# print(len(mv1))
# len(imdb1)

KeyError: ignored

In [ ]:
len(mv)
mi = i1.merge(mv1, how = 'left', on='imdb_id')

In [ ]:
len(mi)
mi.head()

     imdb_id  weighted_average_vote  total_votes  ...  video  vote_average  vote_count
0  tt0000009                    5.9          154  ...    NaN           NaN         NaN
1  tt0000574                    6.1          589  ...  False           5.3         3.0
2  tt0001892                    5.8          188  ...    NaN           NaN         NaN
3  tt0002101                    5.2          446  ...  False           4.0         1.0
4  tt0002130                    7.0         2237  ...  False           5.8        19.0

[5 rows x 93 columns]

In [ ]:
oa1 = oa.rename(columns={'Film':'title'})
mi = mi.rename(columns={'title_x':'title'})

# mi['title'].head()

0                     Miss Jerry
1    The Story of the Kelly Gang
2                 Den sorte drm
3                      Cleopatra
4                      L'Inferno
Name: title, dtype: object

In [ ]:
len(oa1.loc[oa1['Award'] == True])

1433

In [ ]:
mia = mi.merge(oa1, how = 'outer', on='title')

len(mia)

95115

In [ ]:
len(mia.loc[mia['Award'] == False])
# mia['Award'].head()
# print(list(mia.columns.values))

9054

In [ ]:
mia.to_excel("/content/drive/My Drive/Colab Notebooks/movies.xlsx", sheet_name="movie")

In [ ]:
mvt = pd.read_excel("/content/drive/My Drive/Colab Notebooks/movies.xlsx", sheet_name="movie")

In [ ]:
len(mvt)

95115